* {
    color: #ffffff;
    font-family: JetBrainsMonoNerdFontMono;
    border: 0px solid;
    border-radius: 1em;
}

#outer-box {
    background-color: rgba(42,42,42,0.75);
    border: 2px solid;
    border-color: rgb(51,204,255);
    border-radius: 1em;
}

#input {
    background-color: rgba(42,42,42,0.75);
    color: #ffffff;
}

#text {
    color: #ffffff;
}
